{% extends "website-layout.html" %}
{% block title %} Our Services | Parcel Forwarder {% endblock %}
{% block content %}
<div class="page-custom-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="fancy-heading text-light">About Us </h1>
                <ul class="breadcrumb light">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">About Us </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Container -->
<div class="content-container">
    <div class="content-container">
<!-- Start Community Web Section -->
        <div class="grid-col-2 pad-top-50 pad-bot-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h2 class="">0% Sales Tax On UK Shipping Address, Pay Only For Re-Shipping Cost</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_title">What do we do?</h4>
                        <p class="feature_text">
                          Redirect your mail to a UK address with our hybrid mail forwarding service. We make online purchase easier for you. Now you can easily shop online and deliver the products directly to your UK addresses through our virtual mail office.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_title">How we do that?</h4>
                        <p class="feature_text">
                            The last thing you should face when filling your cart with your favorite items is finding out it does not deliver to your address! With us you can sign up for a UK or Canada address. Your product will be delivered to this address and then forwarded to your home address from there hassle free.
We calculate the weight and price of your parcel and send you a quote for parcel delivery through email or call. After confirmation of the parcel delivery order and payment, we reship the packaged product right to your doorstep! Anywhere in the world.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_title">Why ship with us?</h4>
                        <p class="feature_text">
                            You can get a quote for an estimated cost for your product delivery and track your shipping. To make your experience smooth we offer to hold your products for 30 days free of charge, followed by a minimal cost after due days.
With shipping available for 200 countries we also offer you a smooth payment process. We have integrated payment modes on our site from Paypal, debit cards and credit cards, Western Union and Wire Transfers makes your life easier.
With us you get 24/7 live customer support and the flexibility of choosing the right packaging for your shopped product.
                        </p>
                    </div>
                </div>


            </div>
        </div>
    </div>
</div>
{% endblock %}