{% extends "website-layout.html" %}
{% block title %} FAQ| Parcel Forwarder {% endblock %}
{% block content %}


<!-- Start Page Title Container -->
<div class="page-custom-header">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h1 class="fancy-heading text-light">FAQs</h1>
<ul class="breadcrumb light">
<li><a href="index.html">Home</a></li>
<li class="active">FAQs</li>
</ul>
</div>
</div>
</div>
</div>
<!-- End Page Title Container -->
<div class="content-container">

<div class="faq_section">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2 class="small-line fancy-heading-lrg text-center mob-title-center">FAQs Package Delivery</h2>
</div>
</div>
<div class="row">
<div class="col-lg-9 col-lg-offset-2">
<!-- Start  FAQ Accordion -->	
<div class="panel-group no-border no-color panel-icon-right" id="accordion10">

<!-- Panel 1 -->

<div class="panel panel-default">

<!-- Panel Heading -->

<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion10" data-target="#collapse10One">
<h4 class="panel-title plus accordion-toggle">
<span>How long does the delivery take?</span>
</h4>
</div>

<!-- Panel Content -->

<div id="collapse10One" class="panel-collapse collapse">
<div class="panel-body">
Once your parcel arrives at our warehouse and is picked up by our courier
    forwarding systems, it depends on the service you have booked and the
    delivery time you have chosen. The transit time takes between 5-10 days
    depending on the parcel and your chosen service. Hence, it will depend
    if your parcel has been collected on the same day or the next day for
    it to arrive in the next 48 hours or additional days.
</div>
</div>
</div>

<!-- Panel 2 -->

<div class="panel panel-default">

<!-- Panel Heading -->

<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion10" data-target="#collapse10Two">
<h4 class="panel-title plus accordion-toggle">
Can you deliver to post office?</h4>
</div>

<!-- Panel Content -->

<div id="collapse10Two" class="panel-collapse collapse">
<div class="panel-body">
    It depends on the parcel couriers and the drop off points they offer. You can choose the nearest drop off points or ask them specifically to deliver at the preferred Post Office.
</div>
</div>
</div>

<!-- Panel 3 -->

<div class="panel panel-default">

<!-- Panel Heading -->

<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion10" data-target="#collapse10Three">
<h4 class="panel-title plus accordion-toggle">Can you change the delivery time?</h4>
</div>

<!-- Panel Content -->

<div id="collapse10Three" class="panel-collapse collapse">
<div class="panel-body">
You can change the delivery date of your consignment, organize to leave your parcel some place safe at the delivery address, have it delivered to your neighbor, drop it off at your nearby shop, or go to the gas station to lift it up.
</div>
</div>
</div>

<div class="panel panel-default">

<!-- Panel Heading -->

<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion10" data-target="#collapse10Four">
<h4 class="panel-title plus accordion-toggle">What happens if you miss a delivery?</h4>
</div>

<!-- Panel Content -->

<div id="collapse10Four" class="panel-collapse collapse">
<div class="panel-body">
If you were somehow not available to receive the delivery package, you will receive an email or a note by the courier to inform you they tried to deliver. You can call or email them again to redeliver to your address or go yourself to collect your package.
</div>
</div>
</div>

<div class="panel panel-default">

<!-- Panel Heading -->

<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion10" data-target="#collapse10Five">
<h4 class="panel-title plus accordion-toggle">Can I reschedule my parcel delivery?</h4>
</div>

<!-- Panel Content -->

<div id="collapse10Five" class="panel-collapse collapse">
<div class="panel-body">
Sometimes things can go wrong such as harsh weathers, accidents, heavy traffics, road closures etc. This can affect the courier’s ability to collect and deliver your parcel on time. In this case, we are very sorry for the inconvenience caused and would ask you to reschedule your parcel delivery according to your convenience.
</div>
</div>
</div>

<div class="panel panel-default">

<!-- Panel Heading -->

<div class="panel-heading collapsed" data-toggle="collapse" data-parent="#accordion10" data-target="#collapse10Six">
<h4 class="panel-title plus accordion-toggle">How to know the correct size of your parcel?</h4>
</div>

<!-- Panel Content -->

<div id="collapse10Six" class="panel-collapse collapse">
<div class="panel-body">
It is imperative that you precisely gauge and measure your parcel for your invoice after it has been packaged to stay away from any extra charges. Dispatchers will re-measure and gauge your package on landing in the arranging terminal. All couriers maintain whatever authority is needed to add on extra charges for mistakenly gauged/estimated packages and we unquestionably wouldn't need that! This can be as much is £50.00 + VAT per package so it is critical.
We would dependably encourage you to guarantee that the load and measurements are exact. To measure your package you can utilize either your kitchen or restroom scales, measuring tapes or even a
FAQs
ruler. You could likewise read our manual for measuring and estimating where you can discover tips on the most proficient method to get the correct estimations.
</div>
</div>
</div>



</div>
<!-- End of FAQ -->	
	
</div>		
</div>
</div>
</div>




</div>

{% endblock %}