{% extends "website-layout.html" %}
{% block title %} How it works | Parcel Forwarder {% endblock %}
{% block content %}

<!-- Start Page Title Container -->
<div class="page-custom-header how_works_page_banner">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h1 class="fancy-heading text-light">How it works</h1>
<ul class="breadcrumb light">
<li><a href="index.html">Home</a></li>
<li class="active">How it works</li>
</ul>
</div>
</div>
</div>
</div>
<!-- End Page Title Container -->
<div class="content-container">
<!-- Steps Section -->
<div class="tab_section">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2 class="small-line fancy-heading-lrg text-center mob-title-center">Your 4 easy steps</h2>	
</div>
</div>
<div class="row text-center">
<div class="col-md-12 text-center">
<div class="tagline width_500">To forwarding your UK online purchases to anywhere in 
the world at the cheapest cost to you!</div>		
</div>		
</div>

<div class="row process_grid grid_a orange_color">
<div class="col-sm-7 col-sm-offset-5  step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="step_number"><div class="digit">01</div></div>
<div class="feature-box-icon no-bg">
<i class="fa fa-street-view" aria-hidden="true"></i>
</div>
<div class="feature-box-info">
<p class="feature_title">Get Our Address</p>
<p class="feature_text">Simply take a couple of minutes to join our website. There is no membership charges and your account will include your UK shipping address and phone number provided by us at Parcel Flow. Remember you will be joining the only FREE UK address provider for all your online shopping.</p>
</div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_b black_color">
<div class="col-sm-7 col-sm-offset-right-5 step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="feature-box-info">
<p class="feature_title">Shop all Stores</p>
<p class="feature_text">Now shop all your favourite UK online stores such as Amazon UK & eBay and use your UK forwarding address provided by Parcel Flow for all your deliveries.</p>
</div>
<div class="feature-box-icon no-bg">
<i class="fa fa-cart-plus" aria-hidden="true"></i>
</div>
<div class="step_number"><div class="digit">02</div></div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_a green_color">
<div class="col-sm-7 col-sm-offset-5  step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="step_number"><div class="digit">03</div></div>
<div class="feature-box-icon no-bg">
<i class="fa fa-envelope" aria-hidden="true"></i>
</div>
<div class="feature-box-info">
<p class="feature_title">Get Email Notification</p>
<p class="feature_text"> Once your parcel(s) arrives at our depot, your parcelflow handler will email you. This email will provide a link to your account where you will find details of best shipping & insurance options based on price & speed. Once you have made your courier & insurance choices, you simply pay through Paypal, the worlds safest online payment website. </p>
</div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_b blue_color">
<div class="col-sm-7 col-sm-offset-right-5 step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="feature-box-info">
<p class="feature_title">Receive Packages Anywhere</p>
<p class="feature_text">Once you have decided on best forwarding options then we do the rest. We simply forward from the UK to anywhere in the world. All you have to do is sit back and wait for delivery of your new online purchases, whether its that new iphone you have always wanted or some UK branded foods, parcelflow aims to allow its member to always shop without restrictions. </p>
</div>
<div class="feature-box-icon no-bg last_step">
<i class="fa fa-gift" aria-hidden="true"></i>
</div>
<div class="step_number"><div class="digit">04</div></div>
</div>
</div>
</div>
</div>
</div>
</div>


<!-- Video Section -->
<div class="home-slider">
<div class="">
<video muted loop id="myVideo">
<source src="video/movie.mp4" type="video/mp4">
Your browser does not support HTML5 video.
</video></div>
<div>          
<div class="container">
<div class="row">
<div class="col-sm-12">
<div>
<div class="video_play_btn" data-animation="fade-from-left" data-delay="200">
<button id="myBtn" onclick="myFunction()"><i class="fa fa-pause" aria-hidden="true"></i></button>
</div>
</div>
</div>
</div>
</div>
</div>
</div>



<!-- More Info Section -->
<section class="about-info ">
<div class="container">
<div class="row">
<div class="col-md-6 col-sm-6">
<h2 class="small-line fancy-heading text-left mob-title-left">More information on our services at Parcel forwarder </h2>
<div class="clearfix">
<div class="text_strong">
<strong>Parcel forwarder and packages forwarded from the UK to any destination in the world including Ireland, Germany, Switzerland, France, China and Brazil.</strong>
<p>We have partnered with several leading courier companies to deliver and to give our customers a reason to come back to us time and time again.</p>
</div>
<div class="text_strong">
<strong>Purchase from all the leading UK retailers such as Amazon UK, Ebay UK, Westfield, John Lewis and many more.</strong>
<p>We have a unique way of doing things - the parcel flow way. It's how we Innovate, Collaborate and operate. The Parcel Flow way is brought to life every day, in everything we do, through our unique, passion, energy and style. We aim to offer our customers with high quality and fairly priced services. Start today by signing up for your free UK shipping address and follow our simple 3 step process. </p>
</div>
</div>
</div>
<div class="col-md-6 col-sm-6 about_img">
<img src="./images/about-info.png" class="img-responsive" alt="About Info">  
</div>
</div>				  
</div>
</section>




</div>

{% endblock %}