{% extends "website-layout.html" %}
{% block title %} Our Services | Parcel Forwarder {% endblock %}
{% block content %}
<div class="page-custom-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12 text-center">
                <h1 class="fancy-heading text-light">Our Services</h1>
                <ul class="breadcrumb light">
                    <li><a href="index.html">Home</a></li>
                    <li class="active">Our Services </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- End Page Title Container -->
<div class="content-container">
    <div class="content-container">
<!-- Start Community Web Section -->
        <div class="grid-col-2 pad-top-50 pad-bot-20">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_title">Automated Hybrid Warehouse</h4>
                        <p class="feature_text">
                            We track all items ready for parcel forwarding from our warehouse or about to be delivered to our warehouse through a state-of-the-art technology and manpower for sorting and storage.

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_title">Free photos of your parcel</h4>
                        <p class="feature_text">
                            Once we receive your online shopped products at our hybrid address, we can send photos of your package directly to your email. No second guessing how your product arrived.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_title">Quick International deliveries</h4>
                        <p class="feature_text">
                          Whether you live in a nearby country in the Europe of faraway Australia, we offer quick and reliable parcel forwarding services all over the world. We cover all the major destinations across the world. If you want to get your parcel delivered within Europe, it would take within 3-5 working days, whilst anywhere outside Europe will be delivered in approximately 7-10 working days.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_title">Assisted Purchase</h4>
                        <p class="feature_text">
                            Your vendor does not accept credit cards from your country? Do not worry, we can shop your product directly from the online vendor and deliver it to your home address through our parcel forwarding system.

                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_tile">
                            Free 30 day storage
                        </h4>
                        <p class="feature_text">
                            With our 30 day storage option you get the flexibility of storing your product in our warehouse for free for 30 days. You can choose when to reship whenever during this period.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_tile">
                            180 day storage
                        </h4>
                        <p class="feature_text">
                            You are on the move and can’t deliver your package to your home right now? Do not worry, you can still store your package for an additional 180 days with a small cost for storage.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_tile">
                            Custom packaging
                        </h4>
                        <p class="feature_text">
                            Your purchased items arrived in multiple packages? No worries, you can choose to combine them into a single packaging to reduce shipping costs to up to 87%.
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <h4 class="feature_tile">
                            Repackaging
                        </h4>
                        <p class="feature_text">

You want to gift the package to someone special? Or remove the unnecessary packaging to reduce the weight of your parcel? We have got your back. We can repack or gift wrap your parcel to leave a lasting impression on your loved one or lower your shipping costs.
                        </p>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}