{% extends "website-layout.html" %}
{% block title %} Services | Parcel Forwarder {% endblock %}
{% block content %}

<!-- Start Page Title Container -->
<div class="page-custom-header how_works_page_banner">
<div class="container">
<div class="row">
<div class="col-md-12 text-center">
<h1 class="fancy-heading text-light">Services</h1>
<ul class="breadcrumb light">
<li><a href="index.html">Home</a></li>
<li class="active">Serivces</li>
</ul>
</div>
</div>
</div>
</div>
<!-- End Page Title Container -->
<div class="content-container">
<!-- Services Individual Section -->
<div class="tab_section">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2 class="small-line fancy-heading-lrg text-center mob-title-center">Serivces (Individual)</h2>	
</div>
</div>
<div class="row text-center">
<div class="col-md-12 text-center">
<div class="tagline width_500">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. </div>		
</div>		
</div>

<div class="row process_grid grid_a orange_color">
<div class="col-sm-7 col-sm-offset-5  step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="feature-box-icon no-bg">
<i class="fa fa-shopping-bag" aria-hidden="true"></i>
</div>
<div class="feature-box-info">
<p class="feature_title">Personal Shopper</p>
<p class="feature_text">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.</p>
</div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_b black_color">
<div class="col-sm-7 col-sm-offset-right-5 step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="feature-box-info">
<p class="feature_title">Free Storage</p>
<p class="feature_text">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.</p>
</div>
<div class="feature-box-icon no-bg">
<i class="fa fa-database" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_a green_color">
<div class="col-sm-7 col-sm-offset-5  step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">

<div class="feature-box-icon no-bg">
<i class="fa fa-location-arrow" aria-hidden="true"></i>
</div>
<div class="feature-box-info">
<p class="feature_title">Virtual Address</p>
<p class="feature_text">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.</p>
</div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_b blue_color">
<div class="col-sm-7 col-sm-offset-right-5 step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="feature-box-info">
<p class="feature_title">Parcel Consolidation</p>
<p class="feature_text">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.</p>
</div>
<div class="feature-box-icon no-bg last_step">
<i class="fa fa-share" aria-hidden="true"></i>
</div>

</div>
</div>
</div>
</div>
</div>
</div>




<!-- Services Business Section -->
<div class="tab_section section-sep">
<div class="container">
<div class="row">
<div class="col-md-12">
<h2 class="small-line fancy-heading-lrg text-center mob-title-center">Serivces (Business)</h2>	
</div>
</div>
<div class="row text-center">
<div class="col-md-12 text-center">
<div class="tagline width_500">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. </div>		
</div>		
</div>

<div class="row process_grid grid_a orange_color">
<div class="col-sm-7 col-sm-offset-5  step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="feature-box-icon no-bg">
<i class="fa fa-truck" aria-hidden="true"></i>
</div>
<div class="feature-box-info">
<p class="feature_title">Drop Shipping</p>
<p class="feature_text">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.</p>
</div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_b black_color">
<div class="col-sm-7 col-sm-offset-right-5 step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="feature-box-info">
<p class="feature_title">Imports</p>
<p class="feature_text">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.</p>
</div>
<div class="feature-box-icon no-bg">
<i class="fa fa-download" aria-hidden="true"></i>
</div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_a green_color">
<div class="col-sm-7 col-sm-offset-5  step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">

<div class="feature-box-icon no-bg">
<i class="fa fa-database" aria-hidden="true"></i>
</div>
<div class="feature-box-info">
<p class="feature_title">Storage</p>
<p class="feature_text">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.</p>
</div>
</div>
</div>
</div>
</div>
<div class="row process_grid grid_b blue_color">
<div class="col-sm-7 col-sm-offset-right-5 step_feature">
<div class="mar-top-50-mobile">
<div class="feature-box">
<div class="feature-box-info">
<p class="feature_title">Virtual Business Address</p>
<p class="feature_text">Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text. Lorem ipsum is a dummy text.</p>
</div>
<div class="feature-box-icon no-bg last_step">
<i class="fa fa-map-o" aria-hidden="true"></i>
</div>

</div>
</div>
</div>
</div>
</div>
</div>



</div>


{% endblock %}